.input-tracker {
	padding: 2px;
	margin: 10px;
	border-radius: 5px;
}

.button {
	background-color: aqua;
	border-color: aqua;
	padding: 5px;
	border-radius: 5px;
}
.container-task {
  text-align: center;
}
.task-list {
  list-style: none;
}
